/**
 * All contents of this project belong to Stony Brook University.
 * No content can be copied, shared or reused without the 
 * authorization of the University.
 */

/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *  
 *  Author     : Rahul S Agasthya
 */

.button {
    -fx-background-color: rgb(225, 250, 250);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.item_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(70, 130, 180);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.file_toolbar_HBox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(173, 216, 230);
    -fx-border-color: rgb(200, 200, 200);
    -fx-padding: 15px 15px 15px 15px;
    -fx-spacing: 15px;
}

.style_toolbar_HBox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(173, 216, 230);
    -fx-border-color: rgb(200, 200, 200);
    -fx-padding: 15px 15px 15px 15px;
    -fx-spacing: 15px;
}

.item_toolbar_VBox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(173, 216, 230);
    -fx-border-color: rgb(200, 200, 200);
    -fx-padding: 15px 15px 15px 15px;
    -fx-spacing: 15px;
}

.nav_pane_item {
    -fx-background-color: rgb(175, 238, 238);
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
}

.selected {
    -fx-background-color: rgb(0, 206, 209);
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
}

.dialog_box_style {
    -fx-background-color: rgb(240, 230, 140);
    -fx-spacing: 30px;
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
}

.title_component {
    -fx-background-color: rgb(95, 158, 160);
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
    -fx-min-width: 700;
}

.component {
    -fx-background-color: rgb(95, 158, 160);
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-color: rgb(5, 70, 5);
    -fx-border-thickness: 10px;
    -fx-min-width: 400;
}